
.container {
    font-family: "Tahoma", sans-serif;
    width: 1000px;
    height: 100%;
    margin: auto;
}
.clearfix{
    overflow: auto;
}
#cover {
    float: right;
    width: 600px;
    height: 450px;
    filter: none;
    cursor: default;
}
.table img {
    width: 275px;
    height: 275px; 
    object-fit: cover;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
figure {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 25px;
}
figcaption {
    margin: 0;
    text-align: center;
    padding-left: 5px;
}
figcaption {
    max-width: 250px;
    height: 100px;
}
#banner {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: none;
    filter: none;
    float: right;
    object-fit: cover;
    padding-top: 50px;
    cursor: default;
}
h1 {
    text-align: left;
    font-size: 50pt;
    width: 375px;
    margin: 0;
    display: block;
}
p {
    font-size: 24pt;
    font-style: italic;
    margin: 0;
    padding-top: 10px;
    width: 375px;
}
h2 {
    font-size: 36pt; 
    font-weight: normal;
    text-align: left;
    margin: 0px;
    padding-top: 50px;
}
h3 {
    color: #ff0066;
    font-size: 16pt;
    margin: 0;
    padding: 0;
}
#outside {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: none;
    filter: none;
    float: right;
    object-fit: cover;
    padding-top: 50px;
    cursor: default;
}
button {
    padding: 5px;
    border: 6px solid black;
    background-color: yellow;
    display: block;
}
img:hover {
    filter: grayscale(100%);
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
 }
::-webkit-scrollbar {
    width: 30px;
  }
  ::-webkit-scrollbar-thumb {
    border: 5px solid black;
    border-radius: 10px;
  }