body {
    max-width: 1200px;
    padding-left: 150px;
    padding-top: 70px;
    position: relative;
    font-family: "American Typewriter", serif;
}
h1 {
    text-align: left;
    float: left;
    font-size: 42pt;
    max-width: 350px;
}
img {
    height: 350px;
    position: static;
} 

h2 {
    font-size: 30pt;
    
}
#gallery img {
  margin: 20px;
  float: left;
  width: 250px;
  height: 250px; 
  float: left;
  object-fit: cover;
}